<h1><%=@note.identifier%></h1>

<h4>Note: <%=@note.name%></h4>
<h4>Octave: <%=@note.octave%></h4>
<h4>Instrument: <%=@note.instrument%></h4>
<h4>Loudness: <%=@note.loudness%></h4>

<p><a href="/notes/<%=@note.id%>/edit">Edit</a> |
<a href="/notes/<%=@note.id%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a></p>
